 .header { width:auto; 
    height: 60px;
  background-color:#337ab7;
     padding:1px;
}

body {
    margin: 0 auto;
    background-color: white;
}

.btn1 {
    color: black;
}

.gambar{
    background-color:white;
    margin: center ;
}

.sidebar {
    float: left;
    overflow: hidden;
}

.sidebar a.active {
    color: white;
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none
  }

.sidebar a:hover, .s1:hover .btn1 {
    background-color: white;
    color: #337ab7;
}

.sidebar a:hover, .s2:hover .btn2 {
    background-color: white;
    color:#337ab7;
}

.sidebar a:hover, .s3:hover .btn3 {
    background-color: white;
    color:#337ab7;
}



